# Java
/backend/node_modules/
/backend/uploads/
/backend/.babelrc
/backend/package-lock.json
# Node.js
/frontend/node_modules/
/frontend/dist/
# Python
/ai-service/__pycache__/
/ai-service/*.pyc

# Maven Wrapper (si tu choisis de ne pas les versionner)
mvnw
mvnw.cmd
.mvn/

# Fichiers IDE
.idea/
*.iml
.vscode/
.gitpod.Dockerfile
.gitpod.yml
.backend.txt
.frontend.txt
.copyBackendFiles.ps1
.package-lock.json
# Systèmes d'exploitation
.DS_Store
# Logs
*.log
# Local environment
.env